@import '/src/common/modern-reset.css';
@import '/src/common/login-theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

/* 체크박스 (배경이미지)*/
.checkbox {
  --size: 1.5rem;

  display: inline-flex; /*label이 부모상자와 같이 늘어남. */
  /*width: 80%;*/
  height: var(--size);
  block-size: var(--size);
  /* align-items: center; */
  position: relative; /*기준 컨테이너*/
  font-size: var(--size);

  /* .checkbox 컨테이너 안에 자식 요소 중 .bg-img 클래스가 있을 경우 has를 선택 */
  &:has(.bg-img) input {
    /* bg-img가 있으면 설정된다. */
    position: absolute; /*체크 박스 배경이미지 위로 이동*/
    top: 0;
    inset-block-start: 0;
    left: 0;
    inset-inline-start: 0;
    margin: 0;
    width: var(--size);
    inline-size: var(--size);
    height: var(--size);
    block-size: var(--size);
    appearance: none;
  }

  /* input:focus { /*키보드 접근
    outline: 0;
    box-shadow: 0 0 0 1px var(--blue-900); 포커스 디자인 색상 주기
    border-radius: var(--rounded-xs);
  } */

  label.bg-img {
    /*인라인 상자 - padding줘도 부모상자는 안커짐 */
    background: url(/src/assets/naver/unchecked.svg) no-repeat; /*label이미지 1개 깔기*/
    /*padding: 1em;
    flex: 1 1 0; label 크기 늘리기? */
    /* 체크박스와 글자 사이 띄우는 방법 2가지 */
    padding-left: 1.875rem;
    padding-inline-start: 1.875rem;
    /*text-indent: 2rem; 인라인상자면 안됨 */
    /* 글자 가운데 정렬 */
    align-content: center;
  }

  input:checked + label.bg-img {
    background-image: url(/src/assets/naver/checked.svg);
  }
}

/* 체크박스(svg요소)  */
.checkbox.svg {
  display: inline-flex;
  align-items: center; /*1. 가운데 정렬*/
  column-gap: var(--spacing-2);
  position: relative;

  input {
    position: absolute; /*체크 박스 배경이미지 위로 이동,position: relative; 부모에 주기*/
    top: 0;
    inset-block-start: 0;
    left: 0;
    inset-inline-start: 0;
    margin: 0;
    width: var(--size);
    inline-size: var(--size);
    height: var(--size);
    block-size: var(--size);
    appearance: none;
  }

  label {
    display: contents; /*1. 가운데 정렬*/
  }

  input:checked + label .svg--area,
  input:checked svg--border {
    fill: var(--green-500); /*체크 초록색으로 바꾸기*/
  }

  input:checked + label .svg--mark {
    fill: var(--white); /*마크 색상 흰색으로 바꾸기 */
  }
}

/* checkbox 내 input 요소를 선택 */
/* input{
    position: absolute; /*체크 박스 배경이미지 위로 이동*/ /*
    top: 0;
    inset-block-start: 0;
    left: 0;
    inset-inline-start: 0;
    margin: 0;
    width: var(--size);
    inline-size: var(--size);
    height: var(--size);
    block-size: var(--size);
    appearance: none; /*체크박스 숨김 
  } */
